<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let`s play</title>
</head>
<body>
    <p>Players - <%= players_num%></p><br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
    <!--  -->
    <script src="http://test-heroku-git.herokuapp.com/socket.io/socket.io.js"></script>
    <!--  -->
    <script>
      //
      var socket = io('http://chatserversm.herokuapp.com?id=2');
      //
      socket.on('speed', function (data) {
        console.log('speed Message Received!');
        console.log(data);
      });

      socket.on('beep', function (data) {
        console.log('beep Message Received!');
        console.log(data);
      });
      socket.emit("beep", {beep : true});
      socket.emit("change-speed", {"change-speed" : true});
      socket.emit("ios-connection", {"ios-connection" : true});


    </script>
</body>
</html>
