<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let`s play</title>
</head>
<body>
    <p>Players - <span id="msg"></span></p><br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
    <script>
      var socket = io.connect('/');
      socket.on('players_in_room',function (msg) {
        // console.log(msg);
        $('#msg').text(msg);
      });
    </script>
</body>
</html>
